/* Added custom colors for later */
:root {

    /* Green */
    --dxp-lightgreen: rgba(83, 177, 107, 1);
    --dxp-blue: rgba(54, 89, 162, 1);
    --dxp-graywhite: rgba(237, 239, 240, 1);
    --dxp-gray: rgba(62, 71, 79, 1);
    --dxp-white: rgba(255, 255, 255, 1);
    --dxp-darkmagenta: rgba(155, 59, 90, 1);
    --dxp-darkcyan: rgba(0,130, 151, 1);
    --dxp-bluegreen: rgba(54, 140, 191, 1);
    --dxp-yellow: rgba(246, 208, 100, 1);

}

/* Head and HTML */
html {
    height : 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", "Helvetica Neue", "Helvetica", "Arial","sans-serif";
}

body {
    background-color: var(--dxp-blue);
}


/* ====== Start Navigation ===== */

.navbar {
    background-color: var(--dxp-gray);
}
.navbar li a {
    color: var(--dxp-white);
}

.navbar li a:hover {
    color: var(--dxp-yellow);
}

.nav-link:focus {
    color: white;
}

/* Dropdown Nav links */
.dropdown .nav-link:focus {
    color: white;
}


.dropdown-menu {
    background-color: var(--dxp-blue);
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

/* ====== END Navigation ===== */





/* To Do Input & Add Button  */
#toDoContent {
    width: 500px;
    border: 2px solid var(--dxp-darkmagenta);
}

#addToDo {
    background-color: var(--dxp-darkmagenta);
    color: white;
    width: 120px;
}


.switch-label   {
    color: white;
}






/* -------------------------------------- */
/* Datatables */



.search-field {
    width: 500px;
    color: white;

}

#searchText {
    border: 2px solid var(--dxp-darkmagenta);
}

#todoListDatatable_length {
    color: white !important;
    margin-bottom: 20px;
}

#todoListDatatable_info {
    color: white !important;
}

#todoListDatatable_previous, #todoListDatatable_next {
    color: white !important;
}








