<%- include('../utils/head', {pageTitle: 'Home'}); -%>
<%- include('../utils/navigation'); -%>

<body>

<div class="container d-flex justify-content-center">

    <div class="container w-50">
        <h1>Test Heading</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis culpa deserunt enim, facilis illum numquam similique sit tempora?</p>

    </div>



</div>








</body>

