<%- include('../utils/head', {pageTitle: 'Stream'}); -%>
<%- include('../utils/navigation'); -%>



<!-- Twitch iFrame Div -->
<div class="container stream-iframe d-flex justify-content-center mt-4">
    <iframe src="https://player.twitch.tv/?channel=devxperience&parent=devxperience.com"
            allowfullscreen
            width="890"
            height="500">

    </iframe>
</div>



