<%- include('../utils/head', {pageTitle: 'Home'}); -%>
<%- include('../utils/navigation'); -%>

<body>

<h1 class="text-center mt-3" style="color: white;">My To Do List</h1>

    <div class="form-check form-switch d-flex justify-content-center">
        <input class="form-check-input" type="checkbox" role="switch" id="toDoSwitch" disabled>
        <label class="form-check-label ms-3 switch-label" for="toDoSwitch">Switch between Database and UL List </label>

    </div>


<div class="container d-flex justify-content-center mt-3" >
             <!-- Error Inlcludes -->
             <%- include('../utils/error'); -%>
</div>

    <div class="container d-flex justify-content-center mt-3">
        <label for="toDoContent"></label>
        <input type="text" class="form-control" id="toDoContent" placeholder="Add a to do">
        <button class="btn ms-1" id="addToDo">Add To Do</button>
    </div>

<div id="switchContent">

    <div class="container mt-3 d-flex justify-content-center">
        <ul id="ul_toDo">
            <!-- LI -->
        </ul>

    </div>

    <div class="container">
        <!-- Main Search Row -->
            <!-- <block Search Row 1 > -->
            <div class="row">
                <!-- Search Field -->
                <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
                    <div class="form-group search-field w-100">
                        <label for="searchText">Suche</label>
                        <input type="text" class="form-control rounded filter mt-1" id="searchText" placeholder="Search Task">
                    </div>
                </div><!-- </block Search Field > -->
            </div><!-- </block Search Row 1 > -->

    </div>

    <div class="container mt-3 mb-5">
        <table class="table table-dark table-striped todoListDatatable" id="todoListDatatable" data-page-length="10">
            <thead>
            <tr>
                <th>#</th>
                <th>Task name</th>
                <th>Creation Date</th>
            </tr>
            </thead>
        </table>
    </div>

</div>








</body>

