<span class="alert alert-danger" role="alert" id="statusTextFailed" style="display: none;"></span>
<span class="alert alert-success" role="alert" id="statusTextSuccess" style="display: none;" ></span>